﻿.MyButton
{
    background:#12648A;
    color:#ffffff;
    font-size:12px;
    font-weight:normal;
    padding:8px 20px;
    border:none !important;
    margin:0;
    text-transform:uppercase;
}

.MyButtonSmall
{
    background:#12648A;
    color:#ffffff;
    font-size:10px;
    font-weight:lighter;
    padding:4px 10px;
    border:none !important;
    margin:0;
    text-transform:uppercase;
}

.td_Label
{
    background-color: rgb(235, 243, 255);    
    
    /*width: 70%;*/
    
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    
    font-family: Calibri;
    /*font-size: small;*/    
       
}
.Fill
{
    width: 100%;
}



.div_Header
{
    width:auto;
    background-color: #CFDDFF; 
       
    padding: 1% 1% 1% 1%;
    
    font-family: Calibri;
    font-size:larger;
    font-weight:bolder;
    
    text-transform: uppercase;
}

.td_Field
{   
    background-color: rgb(255, 173, 1);
    vertical-align: middle;    
    white-space: nowrap;
    width: 30%;
    padding-left: 1%;   
    padding-top: 1%;
    padding-bottom: 2%;
}

.Invisible
{
    display: none;
}

.VisibleDiv
{
    display: block;
}

.VisibleRow
{
    display: table-row;
}

.VisibleCell
{
    display: table-cell;
}

.RequiredIndicator
{
    color: Red;
    
    font-family: Calibri;
    font-size: medium;
    font-weight: normal;
}

.RequiredLabel
{
    color: Red;
    
    font-family: Calibri;
    font-size: small;
    font-weight: bold;
    
    text-transform: capitalize;
}

.TabPanelHeaderTemplate
{
    font-family: Calibri; 
    font-weight: bold; 
    font-size: small; 
    text-transform: capitalize;
}

.DropDownList
{    
    font-family: Calibri;
    font-size: small;    
    
    text-transform: capitalize;
}

.LabelEmployeeDisplayName
{
    font-family: Calibri;
    font-size: small;
    font-weight: bold;
    
    text-transform: capitalize;
}

.LabelEmployeeEmail
{
    font-family: Calibri;
    font-size: small;
    font-weight: bold;
    
    text-transform: lowercase;
}

.MyRadioButtonListTable
{
    font-family: Calibri;
    font-size: small;    
}

.MyRadioButtonListTable td
{
    padding: 1% 1% 1% 1%;
    
    text-transform: capitalize;
}

.td_TextArea
{   
    width: 80%;
    
    vertical-align: top;
}

.TextArea
{
    border: 1px solid Black;
    
    padding: 1% 1% 1% 1%;
    
    width: 95%;
    height: 100px;
}

.InputFormTextBoxEmployeePhoneNo
{
    border: 1px solid Black;
   
    padding: 1% 1% 1% 1%;
   
    font-family: Calibri;
    font-weight: normal; 
    font-size: small;
}

.InputFormTextBoxJobTitle
{
    border: 1px solid Black;
   
    padding: 1% 1% 1% 1%;
    
    width: 300px;
   
    font-family: Calibri;
    font-weight: normal; 
    font-size: small;
}

.InputFormTextBoxCostCentreNo
{
    border: 1px solid Black;
   
    padding: 1% 1% 1% 1%;
    
    width: 50px;
   
    font-family: Calibri;
    font-weight: normal; 
    font-size: small;
    
    text-align: center;
}

.ActionButton
{
    font-family: Calibri;
    font-weight: bold;    
    text-transform: uppercase;
    background-color:Blue;    
}